* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
}

.first {
    background-color: #F7F8FA;
    min-height: 971px;
    position: relative;
    overflow: hidden;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 38px 0;
}

.header-logo {
    background-image: url(./images/header-logo.png);
    background-repeat: no-repeat;
    width: 103px;
    height: 28px;
    display: block;
}

.header-menu {
    margin-left: auto;
    list-style: none;
    display: flex;
}

.header-menu-item {
    margin-right: 42px;
}

.header-menu-link {
    text-decoration: none;
    line-height: 28px;
    color: #1D293F;
}

.base-btn-style {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    color: #e9f7fe;
    line-height: 20px;
    padding: 15px 30px;
    background-color: #0f53fa;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-align: center;
}

.base-btn-style:hover {
    background-color: #0c45d0;
}

.about {
    text-align: center;
}

.about-title {
    margin: 100px 0 22px;
    font-size: 58px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #1D293F;
}

.about-description {
    font-size: 21px;
    line-height: 30px;
    color: #7c8087;
    margin-bottom: 38px;
}

.about-link {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    padding: 18px 40px;
}

.about-span {
    display: block;
    margin-top: 15px;
    color: #8c97ac;
    font-size: 13px;
    line-height: 20px;
}

.first-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.first-image img {
    position: relative;
    z-index: 1;
    display: block;
}

.first-image::before {
    content: "";
    position: absolute;
    width: 256px;
    height: 256px;background-color: #ffd166;
    left: -90px;
    top: 136px;
    border-radius: 20px;
    transform: rotate(-22deg);
}

.first-image::after {
    content: "";
    position: absolute;
    width: 282px;
    height: 282px;
    background-color: #38dff6;
    border-radius: 50%;
    right: -100px;
    top: -90px;
}

.second-top {
    min-height: 729px;
    background-color: #fff;
    text-align: center;
    padding: 121px 0 118px;
    border-bottom: 1px solid #eceff4;
}

.content-inner {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.second-top-title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.827586px;
    color: #1D293F;
    margin-bottom: 25px;
}

.second-top-description {
    font-size: 18px;
    line-height: 32px;
    color: #7C8087;
    margin-bottom: 64px;
}

.blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
}

.block {
    width: 350px;
    min-height: 158px;
    background-color: #f7f8fa;
    border-radius: 10px;
    padding: 16px 23px 18px 94px;
    text-align: left;
    position: relative;
}

.block-1::before {
    content: "";
    position: absolute;
    background-image: url(./images/icon-1.png);
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    left: 19px;
    top: 21px;
}

.block-2::before {
    content: "";
    position: absolute;
    background-image: url(./images/icon-2.png);
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    left: 19px;
    top: 21px;
}

.block-3::before {
    content: "";
    position: absolute;
    background-image: url(./images/icon-3.png);
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    left: 19px;
    top: 21px;
}

.block-title {
    font-size: 21px;
    line-height: 34px;
    color: #1d293f;
}

.block-description {
    font-size: 16px;
    line-height: 28px;
    color: #7c8087;
}

.second-top-link {
    position: relative;
    padding: 18px 16px 18px 53px;
    font-size: 16px;
    line-height: 19px;
}

.second-top-link::before {
    content: "";
    position: absolute;
    background-image: url(./images/btn-icon.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.second-bottom {
    min-height: 970px;
    background-color: #fff;
    padding: 152px 0;
    overflow: hidden;
}

.content-bottom-inner {
    display: flex;
}

.second-bottom-left {
    min-width: 513px;
    margin-right: 232px;
}

.second-bottom-title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.827586px;
    color: #1d293f;
    margin: 125px 0 25px;
}

.second-bottom-span {
    display: block;
    font-size: 18px;
    line-height: 32px;
    color: #7c8087;
    margin-bottom: 46px;
}

.second-bottom-description {
    font-size: 24px;
    line-height: 34px;
    color: #1d293f;
    padding-left: 77px;
}

.projects {
    margin-bottom: 41px;
    position: relative;
}

.persons {
    margin-bottom: 27px;
    position: relative;
}

.lines {
    position: relative;
}

.projects::before {
    content: "";
    position: absolute;
    background-image: url(./images/bottom-icon1.png);
    background-repeat: no-repeat;
    width: 59px;
    height: 59px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.persons::before {
    content: "";
    position: absolute;
    background-image: url(./images/bottom-icon2.png);
    background-repeat: no-repeat;
    width: 59px;
    height: 59px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.lines::before {
    content: "";
    position: absolute;
    background-image: url(./images/bottom-icon3.png);
    background-repeat: no-repeat;
    background-color: #f7f8fa;
    border-radius: 50%;
    width: 59px;
    height: 59px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.second-bottom-right {
    position: relative;
}

.second-bottom-right::before {
    content: "";
    position: absolute;
    width: 612px;
    height: 612px;
    background-color: #ffd166;
    border-radius: 50%;
    z-index: 1;
    left: -198px;
    top: -54px;
}

.bitmap-img {
    position: absolute;
    left: -153px;
    top: 82px;
    z-index: 3;
    border-radius: 10px;
    display: block;
}

.connection-img {
    z-index: 2;
    position: relative;
    border-radius: 10px;
}

.tariff {
    min-height: 1212px;
    background-color: #f7f8fa;
    padding: 151px 0 219px;
}

.tariff-block-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 49px;
    border-bottom: 1px solid #eceff4;
}

.tariff-top-title {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.827586px;
    color: #1d293f;
    width: 50%;
}

.tariff-title-btn {
    display: flex;
    padding-top: 16px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1d293f;
}

.annual-btn {
    border: 1px solid #ffd166;
    border-radius: 10px 0 0 10px;
    padding: 18px 40px;
}

.active {
    background-color: #ffd166;
}

.active:hover {
    background-color: #f9b311;
    border: none;
}

.monthly-btn {
    border: 1px solid #ffd166;
    border-radius: 0 10px 10px 0;
    padding: 18px 30px;
    background-color: #fff;
}

.monthly-btn:hover {
    background-color: #dedede;
    border: 1px solid #eceff4;
}

.tariff-row {
    display: flex;
    align-items: flex-start;
    padding: 35px 0;
    border-bottom: 1px solid #eceff4;
}

.tariff-row:last-child {
    border-bottom: none;
}

.tariff-row-name {
    width: 151px;
    margin-right: 103px;
}

.tariff-title {
    margin-bottom: 4px;
    font-size: 21px;
    line-height: 34px;
    color: #1d293f;
}

.tariff-title-span {
    font-size: 16px;
    line-height: 28px;
    color: #7c8087;
}

.tariff-row-info {
    width: 302px;
    margin-right: 68px;
}

.tariff-description {
    font-size: 18px;
    line-height: 40px;
    color: #1d293f;
}

.tariff-row-price {
    width: 197px;
    margin-right: 71px;
}

.tariff-price {
    font-size: 58px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #1d293f;
    display: block;
    margin-bottom: 3px;
}

.tariff-price-text {
    font-size: 16px;
    line-height: 28px;
    color: #7c8087;
}

.tariff-row-actions {
    width: 217px;
    margin-left: auto;
}

.tariff-btn {
    width: 100%;
    height: 55px;
    font-size: 16px;
    line-height: 19px;
    color: #1d293f;
    text-align: center;
    border: 2px solid #e2e4e8;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    padding: 16px 40px;
    text-decoration: none;
}

.tariff-btn:hover {
    background-color: #dedede;
    border: 1px solid #eceff4;
}

.enterprise-btn {
    width: 100%;
    height: 55px;
    font-size: 16px;
    line-height: 19px;
    padding: 18px 40px;
}

.enterprise-row-actions {
    position: relative;
}

.enterprise-row-actions::after {
    content: "";
    position: absolute;
    width: 434px;
    height: 434px;
    right: -576px;
    top: -84px;
    background-color: #37def5;
    border-radius: 46px;
    transform: rotate(58deg);
}

.footer {
    background-color: #1d293f;
    min-height: 532px;
}

.footer-top {
    display: flex;
    padding: 127px 0 118px;
    border-bottom: 1px solid #313d55;
}

.footer-top-left {
    padding-top: 10px;
    width: 324px;
    margin-right: 341px;
}

.footer-logo-link {
    background-image: url(./images/footer-logo.png);
    background-repeat: no-repeat;
    width: 94px;
    height: 26px;
    display: block;
    margin-bottom: 17px;
}

.footer-left-description {
    font-size: 16px;
    line-height: 28px;
    color: #8c97ac;
    margin-bottom: 28px;
}

.footer-ask-question {
    padding: 13px 20px;
}

.footer-top-middle {
    width: 157px;
    margin-right: 33px;
}

.footer-middle-span {
    font-size: 18px;
    line-height: 32px;
    color: #8c97ac;
    margin-bottom: 16px;
}

.footer-middle-description {
    font-size: 16px;
    line-height: 42px;
    color: #e9f7fe;
}

.footer-top-right {
    width: 255px;
    margin-left: auto;
}

.footer-right-span {
    font-size: 18px;
    line-height: 32px;
    color: #8c97ac;
    margin-bottom: 21px;
}

.footer-right-description {
    font-size: 16px;
    line-height: 28px;
    color: #e9f7fe;
    margin-bottom: 21px;
}

.footer-right-link {
    font-size: 16px;
    line-height: 28px;
    color: #ffd166;
    text-decoration: none;
}

.footer-right-link:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: relative;
}

.footer-bottom::before {
    content: "";
    position: absolute;
    background-color: #ffd166;
    border-radius: 50%;
    width: 255px;
    height: 255px;
    left: -350px;
    top: -45px;
}

.footer-copyright {
    font-size: 13px;
    line-height: 28px;
    color: #8c97ac;
}

.footer-link-social {
    display: flex;
}

.footer-link-facebook,
.footer-link-google {
    width: 17px;
    height: 16px;
    display: block;
}

.footer-link-facebook:hover,
.footer-link-google:hover {
    border: 1px solid #233a65;
}

.footer-link-facebook {
    background-image: url(./images/facebook-icon.png);
    background-repeat: no-repeat;
}

.footer-link-google {
    background-image: url(./images/google-icon.png);
    background-repeat: no-repeat;
    margin-left: 19px;
}

